* {
  margin: 0;
  padding: 0;
}
body{
  background: #f4faff;
  height: 100%;
}
/*home page style*/
header{
  height: 250px;
  background-image: url("fish.jpg");
}
#salmonIcon{
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#stname{
  text-align: center;
  font-size: 65px;
  color: blue;
  text-shadow:  4px 4px white;
}


#group{
  margin-top: 40px;
}

#locationjs{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#sales-form{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

th, td {
  outline: 2px solid gray;
  padding: 3px;
}

.number{
  width:50px;
}

#loc{
  width:120px;
}

fieldset{
  margin-top: 10px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}




/*middlepart*/
#toppart {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 1300px;
  background-color: yellow;

}
#family{
  width:600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


#cookiesabt{
  font-size: 25px;
  font-family: 'Lobster', cursive;
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
/*Midlle Part*/

#middlepart{
  background-color: purple;
  height: 400px;
  width: 100%;
  padding-top: 60px;

}
#left{
  background-color: orange;
  float: left;
  width: 50%;

}
#frostedCookie {

  margin-left: 40px;
  width:250px;

}


#cutter {
  width: 220px;

}
/*bottom*/

#bottompart {
  border: solid blue;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-bottom: 30px;

}
