* {
margin: 0;
padding: 0;
}
body{
  background-color: gray;
  height: 100%;
}
#salmonpic{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 300px;
}
#comingsoon{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 500px;
}
h1{
  text-align: center;
}
aside{
  height:1200px;
  width:350px;
  background-color: yellow;

}
